<% if message.user.is_org %>

  <div class="individual-messages">

    <div class="message-cont" id="message-<%= message.id %>">

      <div class="message-bubble-org">
        <p><%= message.content %></p>
        <h6><i><%= message.created_at.strftime("%d/%m at %H:%M") %></i></h6>
      </div>

      <% if message.user.photo.key.nil? %>
        <%= image_tag "user.png", class: "chat-avatar" %>
      <% else %>
        <%= cl_image_tag message.user.photo.key, class: "chat-avatar" %>
      <% end %>

    </div>
  </div>

<% else %>

  <div class="individual-messages">

    <div class="message-cont" id="message-<%= message.id %>">

      <% if message.user.photo.key.nil? %>
        <%= image_tag "user.png", class: "chat-avatar" %>
      <% else %>
        <%= cl_image_tag message.user.photo.key, class: "chat-avatar" %>
      <% end %>

      <div class="message-bubble-user">
        <p><%= message.content %></p>
        <h6><i><%= message.created_at.strftime("%d/%m at %H:%M") %></i></h6>
      </div>

    </div>
  </div>

<% end %>
