<% if message.user.is_org %>

<div class="individual-messages">
  <div class="message-bubble-org" id="message-<%= message.id %>">
    <small>
      <% if message.user.is_org %>
        <strong><%= message.user.org_name %> (Organization)</strong>
      <% else %>
        <strong><%= message.user.first_name %></strong>
      <% end %>
    </small>
    <p><%= message.content %></p>
  </div>
  <h6><i><%= message.created_at.strftime("%d/%m at %H:%M") %></i></h6>
</div>

<% else %>

<div class="individual-messages">
  <div class="message-bubble-user" id="message-<%= message.id %>">
    <small>
      <% if message.user.is_org %>
        <strong><%= message.user.org_name %></strong>
      <% else %>
        <strong><%= message.user.first_name %></strong>
      <% end %>
    </small>
    <p><%= message.content %></p>
  </div>
  <h6><i><%= message.created_at.strftime("%d/%m at %H:%M") %></i></h6>
</div>

<% end %>
