<% if @user.is_org? %>
  <div class="org-banner">
  <i class="fa-solid fa-paw homepage-banner-logo"></i>
  <h3><%=  @user.org_name%></h3>
  <p><%=  @user.description%></p>
</div>
<% end %>
<div class="container">
  <% if @user.is_org? %>
    <h3><%= @user.org_name %></h3>
    <%= link_to "Contact the Organization", connect_chatrooms_user_path %>
    <% if !@user.photo.key.nil? %>
      <p><%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %></p>
    <% end %>
  <% end %>
</div>
<div class="container">
  <div class="cards">
    <% @cats.each do |cat| %>
      <%= render "cats/cat", cat: cat %>
    <% end %>
  </div>
</div>
