
<%# ORGANIZATION PROFILE START %>
<%# banner with name and logo - if user is an organization %>
<% if @user.is_org? %>
  <div class="profile-banner">
    <% if !@user.photo.key.nil? %>

      <p><%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fit, class: "org-profile-logo" %></p>
    <% end %>
    <h1><%= @user.org_name.upcase %></h1>

    <div class="profile-buttons">
      <% if current_user.is_org %>
        <%= link_to "edit profile", edit_user_path(@user), class: "btn purple-button" %>
      <% end %>
      <%# DELETE USER BUTTON HERE? %>
    </div>
  </div>

  <%# page contents %>
  <div class="container">

    <%# organization details and info - location, address, etc + contact button %>
    <div class="org-profile-info">


      <div class="org-profile-details">
        <p style="margin-bottom: 24px"><%=  @user.description%></p>

        <div class="profile-details">
          <i class="fa-solid fa-location-dot" style="color: #BB2684"></i>
          <%= @user.address %>
        </div>

        <div class="profile-details">
          <i class="fa-solid fa-envelope" style="color: #BB2684"></i>
          <%= @user.email %>
        </div>

        <div class="profile-details">
          <i class="fa-solid fa-phone" style="color: #BB2684"></i>
          <%= @user.org_phone_number %>
        </div>

        <% if !current_user.is_org %>
          <%= link_to "contact us!", connect_chatrooms_user_path, data: {turbo_method: :post}, class: "purple-button", style: "width: 200px; margin-top: 24px" %>
        <% end %>
      </div>

      <%# org address map %>
      <div style="width: 40%" class="user-profile-map"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

    </div>

    <%# organization's cats for adoption %>
    <div class="org-profile-cats">
      <h3>our cats</h3>
      <div class="cards">
        <% @cats.each do |cat| %>
          <%= render "cats/cat", cat: cat %>
        <% end %>
      </div>
    </div>

  </div>
<%# ORGANIZATION PROFILE END %>

<% else %>

<%# USER PROFILE START %>
  <div class="container">

    <div class="user-profile-container">

      <%# profile picture and name %>
      <div class="user-name-details">
        <% if !@user.photo.key.nil? %>
          <%= cl_image_tag @user.photo.key, height: 300, width: 400, class: "avatar-xxl" %>
        <% else %>
          <%= image_tag "user.png", height: 300, width: 400, class: "avatar-xxl" %>
        <% end %>

        <div class="user-first-last-name">
          <h1><%= @user.first_name %></h1>
          <h1 style="color: #BB2684"><%= @user.last_name %></h1>
        </div>
      </div>

      <hr>

      <%# reviews %>
      <div class="user-profile-adoption-stories">
        <p><strong> <%= @user.first_name %>'s adoption stories </strong></p>
        <ul class="list-group">
          <% @user.reviews.each do |review| %>
            <li class="list-group-item" style="border-radius: 8px">
              <%= review.content %> <br>
              <%= link_to "Delete",
                review_path(review),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
              %>
            </li>
          <% end %>
        </ul>
      </div>

      <hr>

      <%# useful links - edit - delete- back - add review %>
      <div class="user-profile-links">
        <%= link_to "< back", 'javascript:history.back()', class: "back-button" %>
        <%= link_to "edit my profile", edit_user_path(@user), class: "lilac-button" %>
        <%= link_to "delete my profile", "#", class: "lilac-button" %>
        <%= link_to "Add a story", new_user_review_path(@user), class: "pink-button" %>
      </div>

    </div>

  </div>

<% end %>
<%# USER PROFILE END %>
