<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-paw" id="navbar-logo"></i>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%# <div class="collapse navbar-collapse" id="navbarSupportedContent"> %>
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "about us", about_us_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "organizations", organizations_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "adopt", cats_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "FAQ", faq_path, class: "nav-link" %>
        </li>
      </ul>

      <% if user_signed_in? %>

        <li class="nav-item dropdown user-greeting">
          <% if current_user.is_org? %>
            <p>Hello, <%= current_user.org_name %>!</p>
          <% else %>
            <p>Hello, <%= current_user.first_name %>!</p>
          <% end %>

          <% if !current_user.photo.key.nil? %>
            <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "user.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>

          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

            <% if current_user.is_org? %>
              <%= link_to "view my cats", cats_my_cats_path, class: "dropdown-item" %>
              <%= link_to "add a new cat", new_cat_path, class: "dropdown-item" %>
            <% end %>

            <%= link_to "messages", messages_path, class: "dropdown-item" %>
            <%= link_to "profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "edit profile", edit_user_path(current_user), class: "dropdown-item" %>
            <%= link_to "favorites", favorite_path, class: "dropdown-item" %>
            <%= link_to "log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>

          </div>
        </li>

      <% else %>

        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>

      <% end %>
    <%# </div> %>
  </div>
</div>
