<%# homepage banner outside of main container %>
<div class="homepage-banner">
  <i class="fa-solid fa-paw homepage-banner-logo"></i>
  <h1>'TIS A CAT'S WORLD</h1>
  <h3>find your new best friend!</h3>
  <p>search for cats to adopt or foster, connect with organizations around you, and more!</p>

  <div class="search-bar">
    <div class="text-center">
      <%= form_with url: cats_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "find a cat"
        %>
        <%= submit_tag "Search", class: "search-btn-homepage" %>
      <% end %>
    </div>
  </div>

</div>

<%# homepage content %>
<div class="container">

  <%# latest cats for adoption %>
  <div class="card-container">

    <h4>latest cats for adoption</h4>
    <div class="homepage-cards">
      <% @cats_for_adoption.each do |cat| %>
        <%= render "cats/cat", cat: cat %>
      <% end %>

      <%# link to cat index button %>
      <div class="cat-card-button">
        <%= link_to cats_path do %>
          <i class="fa-solid fa-paw button-paw"></i>
          <p><%= @cats.count %> cats available for adoption</p>
          <h5>VIEW ALL CATS</h5>
        <% end %>
      </div>
    </div>

  </div>

  <%# organizations map %>
  <div class="map-container">
    <div class="map-title">
      <h4>find an organization</h4>
      <%= image_tag "map.png", id: "map-illustration" %>
    </div>

    <div class="homepage-map" style="width: 85%; height: 300px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <%# recently adopted cats - 5 last cats %>
  <div class="card-container">
    <h4 style="text-align: center">recently adopted cats</h4>
    <div class="homepage-cards">
        <% @last_cats_adopted.each do |cat| %>
          <%= render "cats/cat", cat: cat %>
        <% end %>
    </div>
  </div>

  <%# adoption testimonials - cards %>
  <h4>adoption stories</h4>
  <div class="user-adoption-stories">

    <% @last_reviews.each do |review| %>

        <div class="review">
          <div class="review-user-details">

            <%= cl_image_tag(review.user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar-xl") %>

            <div class="username-created-at">
              <% if review.user.is_org? %>
                <p><strong> <%= review.user.org_name %> </strong></p>
              <% else %>
                <p><strong><%= review.user.first_name %> <%= review.user.last_name %></strong></p>
                <p><small><%= review.created_at.strftime("%d %b %Y") %></small></p>
              <% end %>
            </div>

          </div>

          <div class="review-content">
            <p><%= review.content %></p>
          </div>

        </div>

    <% end %>

  </div>

</div>
