
  <div class="wrapper">
    <div class="cat-page-container">
      <div class="cat-show-page">
        <% if user_signed_in? && (current_user == @cat.user) %>
          <%= link_to "edit my cat", edit_cat_path(@cat), class: "purple-button" %>
          <%= link_to "delete my cat", cat_path(@cat), class: "purple-button", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% end %>

        <div class="cat-photo-carousel">



        <% if user_signed_in? && @cat.user != current_user %>
          <%= render "shared/favorite", cat: @cat %>
        <% end %>

        <% if @cat.is_adopted %>
          <div style = "position: relative;">
            <div class="text-end">
              <div class="adopted-sticker">
                <p>ADOPTED!</p>
              </div>
            </div>
          </div>
        <% end %>
          <div id="cat-carousel" class="carousel slide" data-bs-interval="15000" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <% @cat.photos.each_with_index do |photo, index| %>
                <button type="button" data-bs-target="#cat-carousel" data-bs-slide-to="<%= index %>" aria-label="Slide <%= index + 1 %>" class="<%= "active" if index == 0 %>"></button>
              <% end %>
            </div>

            <div class="carousel-inner">
              <% @cat.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= "active" if index == 0 %>">
                  <%= cl_image_tag photo.key %>
                </div>
              <% end %>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#cat-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cat-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <% if user_signed_in? && (current_user == @cat.user) %>
          <% cat_adopted = @cat.is_adopted ? 'Mark as not adopted' : 'Mark as adopted' %>
          <%= link_to cat_adopted, change_is_adopted_cat_path(@cat), class: "purple-button" %>
        <% end %>

        <div class="cat-info">

          <div class="left-info">
            <div class="cat-details">
              <h2><%= @cat.name.upcase %></h2>
              <p><%= @cat.breed %>, <%= @cat.gender %></p>

              <hr>
              <h4 style="color: #7D6DAD">health</h4>
              <p>estimated age: <%= @cat.estimated_age %></p>
              <p>vaccinated: <%= @cat.is_vaccinated? ? "Yes" : "No" %></p>
              <p>neutered: <%= @cat.is_neutered? ? "Yes" : "No"  %></p>
              <hr>
              <h4 style="color: #7D6DAD">about me</h4>
              <p><%= @cat.description %></p>
            </div>
          </div>

          <div class="right-info">
            <div class="adoption-info">
              <h5 style="color: #554780">Are you interested?</strong></h5>
              <div class="adoption-info-buttons" style="width: 100%; display: flex">
                <%= link_to "ADOPT", connect_chatrooms_user_path(@cat.user), data: {turbo_method: :post}, class: "purple-button", style: "color: white; flex-grow: 1" %>
                <%= link_to "FOSTER", "#", class: "dark-purple-button", style: "color: white; flex-grow: 1"%>
              </div>
            </div>

          <%= link_to user_path(@cat.user) do %>
            <div class="org-info">

              <% if !@cat.user.photo.key.nil? %>
              <%# scale, fit, fill, limit, pad, crop. %>
                <%= cl_image_tag @cat.user.photo.key, height: 300, width: 400, crop: :fit, class: "avatar-large-bordered" %>
              <% end %>

              <h3><%= @cat.user.org_name %></h3>

              <div class="cat-show-org-details">
                <i class="fa-solid fa-location-dot"></i>
                <%= @cat.user.address %>
              </div>

              <div class="cat-show-org-details">
                <i class="fa-solid fa-envelope"></i>
                <%= @cat.user.email %>
              </div>

              <div class="cat-show-org-details">
                <i class="fa-solid fa-phone"></i>
                <%= @cat.user.org_phone_number %>
              </div>

            </div>
          <% end %>
          </div>
        </div>


      <%= link_to "< back", 'javascript:history.back()', class: "back-button" %>
      </div>
    </div>
  </div>
