<div class="wrapper">
  <div class="cat-page-container">
    <div class="cat-show-page">

      <div class="cat-photo-carousel">
        <div id="cat-carousel" class="carousel slide" data-bs-interval="10000" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#cat-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#cat-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#cat-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @cat.photos.first.key %>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag @cat.photos.first.key %>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag @cat.photos.first.key %>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#cat-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#cat-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="cat-info">

        <div class="left-info">
          <div class="cat-details">
            <h2><%= @cat.name %></h2>
            <p><%= @cat.breed %>, <%= @cat.gender %></p>
            <hr>
            <h5>Health</h4>
            <p>Estimated age: <%= @cat.estimated_age %></p>
            <p>Vaccinated: <%= @cat.is_vaccinated? ? "Yes" : "No" %></p>
            <p>Neutered: <%= @cat.is_neutered? ? "Yes" : "No"  %></p>
            <hr>
            <p><%= @cat.location %></p>
            <p><%= @cat.description %></p>
          </div>

          <div class="map"></div>
        </div>

        <div class="right-info">
          <div class="adoption-info">
            <p>Are you interested in <strong><%= @cat.name %>?</strong></p>
          </div>

          <div class="org-info">
            <h2><%= @cat.user.org_name %></h2>
            <hr>
            <div class="cat-show-org-details">
              <i class="fa-solid fa-location-dot"></i>
              <%= @cat.user.address %>
            </div>

            <div class="cat-show-org-details">
              <i class="fa-solid fa-envelope"></i>
              <%= @cat.user.email %>
            </div>
          </div>
        </div>

      </div>



    </div>
  </div>
</div>
